ClientApplication/Studnt_ClientSide/Connected Services/ServiceStudent/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_StudentServerSide" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_StudentServerSide" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Students">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codemasar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Major" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Students" nillable="true" type="tns:Students" />
  <xs:complexType name="Teachers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codemasar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Teacher_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teachers" nillable="true" type="tns:Teachers" />
  <xs:complexType name="ArrayOfStudents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Students" nillable="true" type="tns:Students" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudents" nillable="true" type="tns:ArrayOfStudents" />
</xs:schema>