ClientApplication/Studnt_ClientSide/Connected Services/ServiceStudent/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Masar_DataBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Masar_DataBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArgumentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentFault" nillable="true" type="tns:ArgumentFault" />
  <xs:complexType name="SqlConnectionFailed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlConnectionFailed" nillable="true" type="tns:SqlConnectionFailed" />
  <xs:complexType name="UnsuccessfullLoginFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnsuccessfullLoginFault" nillable="true" type="tns:UnsuccessfullLoginFault" />
</xs:schema>