ClientApplication/Studnt_ClientSide/Connected Services/ServiceStudent/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4343/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4343/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Masar_DataBase" />
      <xsd:import schemaLocation="http://localhost:4343/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4343/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_StudentServerSide" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q1:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q2:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IService1_Addgrades_InputMessage">
    <wsdl:part name="parameters" element="tns:Addgrades" />
  </wsdl:message>
  <wsdl:message name="IService1_Addgrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddgradesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Addgrades_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q3:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Addgrades_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q4:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_UnsuccessfullLoginFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q5:UnsuccessfullLoginFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q6:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q7:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q8:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q9:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q10:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q11:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IService1_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IService1_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_List_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q12:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_List_SqlConnectionFailedFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Masar_DataBase" name="detail" element="q13:SqlConnectionFailed" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudent" message="tns:IService1_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentResponse" message="tns:IService1_GetStudent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetStudentArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_GetStudent_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetStudentSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_GetStudent_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addgrades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Addgrades" message="tns:IService1_Addgrades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddgradesResponse" message="tns:IService1_Addgrades_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/AddgradesArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_Addgrades_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/AddgradesSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_Addgrades_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LoginUnsuccessfullLoginFaultFault" name="UnsuccessfullLoginFaultFault" message="tns:IService1_Login_UnsuccessfullLoginFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LoginArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_Login_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LoginSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_Login_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update" message="tns:IService1_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateResponse" message="tns:IService1_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_Update_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_Update_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete" message="tns:IService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteResponse" message="tns:IService1_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_Delete_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_Delete_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/List" message="tns:IService1_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListResponse" message="tns:IService1_List_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ListArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_List_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ListSqlConnectionFailedFault" name="SqlConnectionFailedFault" message="tns:IService1_List_SqlConnectionFailedFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Addgrades">
      <soap:operation soapAction="http://tempuri.org/IService1/Addgrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnsuccessfullLoginFaultFault">
        <soap:fault use="literal" name="UnsuccessfullLoginFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService1/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IService1/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlConnectionFailedFault">
        <soap:fault use="literal" name="SqlConnectionFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:4343/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>